*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	box-sizing: border-box;
}
html {
    height: 100%; 
    background-image: url(img/back-himal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo-himal{
    position: absolute;
    width: 75px;
    left: 1150px;
    top: 78px;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 20%;
}nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #810000;
	transition: .4s;
}
.head-himal{
    color: white;
    size: 72px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn{
	background-color:#810000;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    margin-top: 10px;
}
.btn:hover{
	transform: scale(1.2);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
    width: 700px;
    padding: 0 100px;
    margin-left: 19px;
    text-align: justify;
}
.join-us{
	background-image: url(img/join-us-himal.png);
	position: absolute;
	width: 482px;
	height: 101px;
	left: 690px;
	top: 187px;
	transition: transform .4s; 
	box-shadow: 0px 0px 15px 5px #ffffffaa;
}
.join-us:hover{
	transform: scale(1.2);
}
